.carousel-control-next {
    right: -130px !important;
}

.carousel-control-prev {
    left: -130px !important;
}
@media (min-width: 576px)
.modal-dialog {
    max-width: 1170px !important;
    margin: 1.75rem auto;
}
.row>*{
    padding-right: 0;
}